<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merchant</title>
    <!-- CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- To production <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- APP -->
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="app">
      <!-- Main app -->
      <div class="container-fluid">
        <!-- List -->
        <div class="row">
          <div class="list-group w-100 text-center">
            <!-- Header -->
            <header class="list-group-item active font-weight-bold"
              style="border-radius: 0">
              <div class="row">
                <div class="col-7 text-left">Product</div>
                <div class="col-2">#</div>
                <div class="col-3">$</div>
              </div>
            </header>
            <!-- Body -->
            <div v-for="(product, index) in products"
              v-show="product.name.toLowerCase().includes(search)"
              :key="product.id"
              class="list-group-item list-group-item-action"
              style="border-radius: 0">
              <!-- Main -->
              <div class="row pointer"
                @click="toggleCollapse(index)">
                <div class="col-7 text-left">{{ product.name }}</div>
                <div class="col-2">{{ product.quantity }}</div>
                <div class="col-3">{{ Math.floor(product.price * 100) / 100 }}</div>
              </div>
              <!-- Details -->
              <div class="row collapse" :id="'product-detail-'+product.id">
                <!-- Loading -->
                <div v-show="product.isLoading"
                  class="col-12 text-center">
                  <div class="spinner-grow m-5" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <!-- Form -->
                <div v-show="!product.isLoading && !product.isCollapse"
                  class="col-12 text-left">
                  <form class="card card-body mt-2">
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name</label>
                      <input type="text"
                        :id="'focusEditName-'+product.id"
                        class="form-control"
                        v-model="product.name"
                        placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="quantity" class="col-form-label">Quantity</label>
                      <input type="number"
                        class="form-control"
                        v-model="product.quantity"
                        step=".25"
                        placeholder="Quantity">
                    </div>
                    <div class="form-group">
                      <label for="type" class="col-form-label">Type</label>
                      <select class="custom-select text-capitalize"
                        v-model="product.type">
                        <option value="null" selected>---</option>
                        <option v-for="type in typeAvailable"
                          :value="type"
                          :selected="product.type == type">{{ type }}
                        </option>
                      </select>
                    </div>
                    <hr>
                    <div class="form-group">
                      <label for="prices" class="col-form-label">Price</label>
                      <div class="d-flex">
                        <!-- Input -->
                        <div class="flex-grow-1">
                          <input v-show="!newPrice.isAdding"
                            type="number"
                            :value="Math.floor(product.price * 100) / 100"
                            disabled
                            class="form-control">
                          <input v-show="newPrice.isAdding"
                            type="number"
                            :id="'focusProductPrice-'+product.id"
                            onblur="setTimeout(() => {APP.newPrice.isAdding = false}, 300)"
                            v-model="newPrice.value"
                            class="form-control"
                            placeholder="Price">
                          <small class="form-text text-primary">
                            <span class="btn-link pointer"
                              data-toggle="modal"
                              data-target="#modal-graph"
                              @click="showGraph()">
                              Show graph
                            </span>
                          </small>
                        </div>
                        <!-- Button -->
                        <div class="dropup">
                          <button v-show="!newPrice.isAdding"
                            class="btn btn-link"
                            @click.stop.prevent="enableAddPrice(index)">
                            New price
                          </button>
                          <button v-show="newPrice.isAdding"
                            class="btn btn-link"
                            @click.stop.prevent="addPrice(product.id)">
                            Add
                          </button>
                        </div>
                      </div>                      
                    </div>
                  </form>
                  <!-- Form Actions -->
                  <div class="d-flex justify-content-around">
                    <button @click="daleteProduct(index)"
                      class="btn btn-link text-danger">
                      Delete
                    </button>
                    <button @click="toggleCollapse(index)"
                      class="btn btn-link text-secondary">
                      Close
                    </button>
                    <button @click="updateProduct(index)"
                      class="btn btn-link text-primary">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <footer class="d-flex fixed-bottom bg-white border-top">
        <!-- Search -->
        <div class="flex-grow-1 m-2">
          <div class="form-group mb-0">
            <input type="text"
              class="form-control"
              v-model="search"
              placeholder="Search">
          </div>
        </div>
        <!-- Action buttons -->
        <div class="m-2">
          <div class="dropup">
            <button type="button" class="btn btn-primary"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item text-primary bg-white pointer"
                onclick="setTimeout(() => {$('#focusNewProduct').focus()}, 600)"
                type="button"
                data-toggle="modal"
                data-target="#modal-add-product">
                Add new product
              </button>
              <div class="dropdown-divider"></div>
              <button v-for="sortType in sortAvailable"
                class="dropdown-item pointer"
                @click="sortBy(sortType)">
                Order by {{ sortType }}
              </button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item disabled" type="button">Settings</button>
            </div>
          </div>
        </div>
      </footer>
      <!-- End main app -->

      <!-- Fades In/Out -->
      <!-- Modal Add Product -->
      <div class="modal fade" id="modal-add-product" tabindex="-1"
        role="dialog" aria-labelledby="modal-add-product-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-add-product-title">Add new
                product</h5>
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div v-show="newProduct.isLoading"
                class="w-100 text-center">
                <div class="spinner-grow m-5" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <form v-show="!newProduct.isLoading">
                <div class="form-group">
                  <label for="name" class="col-form-label">Name</label>
                  <input type="text"
                    id='focusNewProduct'
                    class="form-control"
                    v-model="newProduct.name"
                    placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="quantity" class="col-form-label">Quantity</label>
                  <input type="number"
                    class="form-control"
                    v-model="newProduct.quantity"
                    step=".25"
                    placeholder="Quantity">
                </div>
                <div class="form-group">
                  <label for="type" class="col-form-label">Type</label>
                  <select class="custom-select text-capitalize"
                    v-model="newProduct.type">
                    <option value="null" selected>---</option>
                    <option v-for="type in typeAvailable"
                      :value="type">{{ type }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="price" class="col-form-label">Price</label>
                  <input type="number"
                    class="form-control"
                    v-model="newProduct.price"
                    placeholder="Price">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"
                @click="addProduct()">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Graph -->
      <div class="modal fade" id="modal-graph" tabindex="-1"
        role="dialog" aria-labelledby="modal-graph-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-graph-title">
                Graph
              </h5>
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <i>Coming soon</i>
              <div class="m-2">
                <i class="fa-7x"
                  :class="icons[Math.floor(Math.random() * icons.length)]"
                ></i>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" 
                class="btn btn-secondary"
                data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Toast Message -->
      <div id="toast-custom-msg"
        style="display: none"
        class="alert fixed-top m-2 pointer" 
        :class="toast.class"
        @click="hideToast()"
        role="alert">
        {{ toast.msg }}
      </div>
      <!-- End Fades In/Out -->
    </div>
    <!-- APP -->
    <script src="app.js"></script>
    <br>
    <br>
  </body>
</html>