<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merchant</title>
    <!-- CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- To production <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- APP -->
    <link rel="stylesheet" href="app.css">
    <script src="app.js"></script>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <!-- Main app -->
      <!-- List -->
      <div class="row">
        <div class="list-group w-100 text-center">
          <!-- Header -->
          <div class="list-group-item list-group-item-primary"
            style="border-radius: 0">
            <div class="row">
              <div class="col-8 text-left">Product</div>
              <div class="col-2">#</div>
              <div class="col-2">$</div>
            </div>
          </div>
          <!-- Body -->
          <div v-for="product in products"
            :key="product.id"
            class="list-group-item list-group-item-action pointer"
            style="border-radius: 0">
            <!-- Main -->
            <div class="row"
              @dblclick="toggleCollapse(product.id)">
              <div class="col-8 text-left">{{ product.name }}</div>
              <div class="col-2">{{ product.quantity }}</div>
              <div class="col-2">{{ product.price }}</div>
            </div>
            <!-- Details -->
            <div class="row collapse" :id="'product-detail-'+product.id">
              <div class="col-12 text-left">
                  <form class="card card-body mt-2">
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name</label>
                      <input type="text" 
                        class="form-control"
                        v-model="product.name"
                        placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="quantity" class="col-form-label">Quantity</label>
                      <input type="number" 
                        class="form-control" 
                        v-model="product.quantity"
                        step=".25"
                        placeholder="quantity">
                    </div>
                  </form>
                  <div class="d-flex justify-content-around">
                    <button @click="daleteProduct(product.id)"
                      class="btn btn-link text-danger">
                      Delete
                    </button>
                    <button @click="toggleCollapse(product.id)"
                      class="btn btn-link text-secondary">
                      Cancel
                    </button>
                    <button @click="updateProduct(product.id)"
                      class="btn btn-link text-primary">
                      Save
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <table class="table table-hover table-borderless">
          <thead class="thead-dark">
            <tr>
              <th class="">Products</th>
              <th class="text-center">#</th>
              <th class="text-center">$</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products"
              ::key="product.id">
              <td>{{ product.name }}</td>
              <td class="text-center">{{ product.quantity }}</td>
              <td class="text-center">{{ Math.floor(product.price * 100) / 100
                }}</td>
            </tr>
          </tbody>
        </table><!-- -->
      </div>
      <!-- Actions -->
      <div class="row">
        <!-- Search -->
        <div class="col-10">
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="&#xf002; Search...">
          </div>
        </div>
        <!-- Action buttons -->
        <div class="col-2 text-center">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary"
              style="border-radius: .25rem"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item text-primary"
                type="button"
                data-toggle="modal"
                data-target="#modal-add-product">
                Add new product
              </button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button">Order by quantity</button>
              <button class="dropdown-item" type="button">Order by price</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item text-danger" type="button">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End main app -->
      <!-- Modals -->
      <!-- Add new product -->
      <div class="modal fade" id="modal-add-product" tabindex="-1"
        role="dialog" aria-labelledby="modal-add-product-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-add-product-title">Add new product</h5>
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name</label>
                  <input type="text" 
                    class="form-control"
                    v-model="newProduct.name"
                    placeholder="Name"
                    autofocus>
                </div>
                <div class="form-group">
                  <label for="type" class="col-form-label">Type</label>
                  <select class="custom-select text-capitalize"
                    v-model="newProduct.type">
                    <option value="null" selected>---</option>
                    <option v-for="type in typeAvailable"
                      :value="type"
                      >{{ type }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="quantity" class="col-form-label">Quantity</label>
                  <input type="number" 
                    class="form-control" 
                    v-model="newProduct.quantity"
                    step=".25"
                    placeholder="quantity">
                </div>
                <div class="form-group">
                  <label for="price" class="col-form-label">Price</label>
                  <input type="number" 
                    class="form-control" 
                    v-model="newProduct.price"
                    placeholder="price">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"
                @click="addProduct()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End modals -->
    </div>
  </body>
</html>